.lead {
  display: flex;
  flex-direction: column;
  margin: 56px auto 0;
  text-align: center;
  max-width: calc(100% - 296px);
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(100% - 96px);
    margin-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}
