.cover__overlay {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 740px;
  width: 100%;
  background-image: url(../../../images/cover-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  position: relative;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    background-size: cover;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}

.cover__overlay::before {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}
